@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

html {
    scroll-behavior: smooth;
    
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 5px;
    margin: 50px;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
nav {
    overflow: hidden;
    background-color: #74757A;
    position: static; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
    display: block;
    padding: 0px;
}

a {
    color: #74757A;
}

body {
    background-color: #EEEEEE;
    color: #74757A;
}

.box {
    text-align: center;
    margin-top: 50px;
    border: 2px solid red;
    border-radius: 20px 0 20px 0;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}


@media only screen and (min-width: 768px)
{
    /*[class*="col-"] {
        
    }*/
}
@media only screen and (max-width: 768px)
{
    [class*="col-"] {
        display: block;
        text-align: center;
        align-items: center;
    }
}

/* Colonne */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}